<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-dev-weddinggallery.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a0d53d16-127e-4d47-b728-e6f288930048/resourceGroups/weddinggallery/providers/Microsoft.Web/sites/fa-dev-weddinggallery</ResourceId>
    <UserName>$fa-dev-weddinggallery</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fa-dev-weddinggallery.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>