<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://filehandlerdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a0d53d16-127e-4d47-b728-e6f288930048/resourceGroups/fileupload-demo/providers/Microsoft.Web/sites/filehandlerdev</ResourceId>
    <UserName>$filehandlerdev</UserName>
    <_SavePWD>true</_SavePWD>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>filehandlerdev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>filehandlerdev</DeployIisAppPath>
  </PropertyGroup>
</Project>