@model List<Uri>

<div class="gallery">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Til Forsiden</a>
    <div class="row">
        @foreach (var url in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="image-container">
                        <img src="@url" alt="Image" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" href="@Url.Action("DownloadFile", "Home", new { url = @url })">Download</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>