<div class="bg-white sticky-top text-center">
    <h1>Galleri</h1>
    <a href="@Url.Action("Index", "Home")" class="btn btn-warning give-me-space">Til Forsiden</a>
</div>
<div id="spinny">
    <div class="d-flex justify-content-center text-center">
        <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

</div>
<div class="row row-cols-xl-6 row-cols-sm-4">
</div>
<script>
    // Get the spinny div
    const spinnyDiv = document.getElementById('spinny');

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/Home/GetGalleryUris", true);
    xhr.onload = function () {
        spinnyDiv.style.display = "none";
        if (xhr.status === 200) {
            // inserting data
            showCards(xhr.response)

            // You can optionally perform some action after successful upload
        } else {
            console.error('Error fetching model data:');
        }
    };
    xhr.send();

    function showCards(data) {
        urls = JSON.parse(data)
        console.log(urls)

        // Get the container element where you want to append the cards
        var container = document.querySelector('.row.row-cols-xl-6.row-cols-sm-4');

        // Iterate over the URLs array and generate HTML for each URL
        urls.forEach(function (url) {

            console.log(url)
            // Create elements
            var divCol = document.createElement('div');
            divCol.classList.add('col', 'd-flex');
            divCol.style.marginBottom = '16px';

            var divCard = document.createElement('div');
            divCard.classList.add('card');

            var imgLink = document.createElement('a');
            imgLink.href = '/Home/Fullscreen?url=' + encodeURIComponent(url);
            var img = document.createElement('img');
            img.src = url;
            img.alt = 'Image';
            img.classList.add('card-img-top');
            imgLink.appendChild(img);

            var divCardBody = document.createElement('div');
            divCardBody.classList.add('card-body', 'd-flex', 'align-items-end', 'justify-content-center');

            var downloadLink = document.createElement('a');
            downloadLink.href = '/Home/DownloadFile?url=' + encodeURIComponent(url);
            downloadLink.classList.add('btn', 'btn-primary');
            downloadLink.textContent = 'Download';

            // Assemble elements
            divCardBody.appendChild(downloadLink);
            divCard.appendChild(imgLink);
            divCard.appendChild(divCardBody);
            divCol.appendChild(divCard);
            container.appendChild(divCol);
        });
    }
</script>