@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <img src="images/picture.jpg" style ="width: 30%;">    
    <p>Til mit foltogalli på denne specielle dag. her kan du uploade de billeder du har taget i løbet af dagen og downloade dem andre har oploaded fra galleriet</p>
    <form action="http://localhost:7071/api/UploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <button type="submit">Upload</button>
    </form>
</div>
