
<p>Filerne er nu uplaeded til serveren. tak for din deltagelse</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Til forsiden</a>
<a href="@Url.Action("Gallery", "Home")" class="btn btn-primary">Til Galleriet</a>